ESBN_USERNAME=person@example.com
ESBN_PASSWORD=replace-me
ESBN_MPRN=10000000000
MQTT_HOST=core-mosquitto
MQTT_PORT=1883
MQTT_USERNAME=homeassistant
MQTT_PASSWORD=replace-me
POLL_INTERVAL_HOURS=6
MQTT_DISCOVERY_PREFIX=homeassistant
MQTT_TOPIC_PREFIX=esbn_to_mqtt
LOG_LEVEL=info
